.mod_vis_window {
	margin: 20px auto;
	width:340px;
	height:340px;
	padding-top:20px;
	outline: 1px solid blue;
}
.mod_vis_window .translate_line {
	position:relative;
	height:80%;
}
.mod_vis_window	.translate_line > div {
		position: absolute;
		height:270px;
		width:100%;
	}	
.mod_vis_window	.translate_line	img {
		position: absolute;
		left:50%;
		top:50%;
		transition:0.2s;
		transform:translate(-50%,-50%) scale(0.5);
		box-shadow: 6px 5px 4px rgba(51,51,51,0.6);
	}
.mod_vis_window	.translate_line .slide_active img{
		transform:translate(-50%,-50%) scale(1);
		position: relative;
		z-index: 2;
	}
.mod_vis_window	.slide_hidden {
		display: block;
	}
.mod_vis_window	.slide_middle img {
		transform:translate(-50%,-50%) scale(0.7);
}
.mod_vis_window .intro{
	margin:10px auto;
	text-align: center;
	font: 16px bold;
}
.mod_vis_window .cursor {
	position:relative;
	left:50%;
	transform:translateX(-50%);
	z-index: 3;
	width:400px;
	text-align:center;
}
.mod_vis_window	.cursor a {
		margin:0px 5px;
		width:20px;
		height:20px;
		border-radius:50%;
		border:1px solid #999;
		text-align:center;
		line-height:20px;
		text-decoration: none;
		font-size: 20px;
		display:inline-block;
		transition:0.3s;
	}
.mod_vis_window	.cursor a:hover {
			background-color: rgba(51,51,51,0.6);
			border: 1px solid white;
			color:#fff;
		}
.mod_vis_window	.cursor .active {
		background-color: rgba(51,51,51,0.6);
		border: 1px solid white;
		color:#fff;
	}

/*@media screen and (min-width: 769px) and (max-width: 1300px) {
	.mod_vis_window {
		outline:1px solid rgba(230,0,18,0.3);

	}
	.mod_vis_window	.translate_line .slide_hidden {
		display: none;
	}


}*/
/*@media screen and (max-width: 769px) {
	.mod_vis_window {
		outline:1px solid rgba(230,0,18,0.3);
		overflow: hidden;
	}
	.mod_vis_window	.translate_line img {		
		transform:translate(-50%,-50%) scale(0.9);
	}
	.mod_vis_window	.slide_active img{
		transform:translate(-50%,-50%) scale(1);
	}
}*/
